<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Records:</strong>
  <ul>
    <% @message.records.each do |record| %>
      <li><%= link_to record.name, record %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', messages_path %>
