<h1>Log in</h1>

<% if local_assigns[:error] %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% end %>

<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, "Log in", class: "btn btn-success" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
