<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @record.email %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @record.owner.name %>
</p>

<p>
  <strong>Users:</strong>
  <% @record.users.each do |user| %>
    <%= user.name %>
  <% end %>
</p>

<% if @record.owner == current_user %>
  <%= form_tag({controller: "records", action: "share"}, method: "put", class: "form-inline") do %>
    <%= label_tag(:user_email, "Share for:") %>
    <%= text_field_tag(:user_email, "", class: "form-control") %>
    <%= submit_tag("Share", class: "btn btn-primary") %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
